@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral";
  background-image: url("/assets/img/bkgrnd1.png");
  max-width: 1920px;
}

//HOME

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  #logo {
    width: 25%;
    margin: 0 auto;
  }
  width: 65%;
  background-image: url("/assets/img/Layer\ 6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
  margin: 2rem auto;
  .menu-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .menu-item-1 {
      width: 15%;
      transition: all 1s;
      position: absolute;
      left: 250px;
      top: 30px;
      img {
        width: 100%;
      }
      &:hover {
        transform: translateY(20px);
      }
    }
    .menu-item-2 {
      width: 15%;
      transition: all 2s;
      position: absolute;
      left: 870px;
      top: 40px;
      img {
        width: 100%;
      }
      &:hover {
        transform: rotateY(360deg);
      }
    }
    .menu-item-3 {
      width: 15%;
      transition: all 1s;
      position: absolute;
      left: 950px;
      top: 220px;
      img {
        width: 100%;
      }
      &:hover {
        transform: translateY(20px);
      }
    }
  }
}

// FOOTER

#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
}
